<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <!--<add name="LocalSqlServer" connectionString="Data Source=5.9.123.103;Initial Catalog=EstekhdamjooAdmin;User ID=EstekhdamjooAdmin;Password=12345Estekhdam_;" />
    <add name="shaahrEconnectionString" connectionString="Data Source=5.9.123.103;Initial Catalog=Estekhdamjoo;User ID=Estekhdamjoo;Password=12345Estekhdam_;" />-->

    <!--<add name="LocalSQLServer" connectionString="Data Source=SHAHR\MSSQLSERVER2008;Initial Catalog=shaahrAdmin;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="LocalSQLServer" connectionString="Data Source=(local);Initial Catalog=estekhdamjooAdmin;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="shaahrConnectionString" connectionString="Data Source=SHAHR\MSSQLSERVER2008;Initial Catalog=shaahr;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="shaahrEconnectionString" connectionString="Data Source=(local);Initial Catalog=estekhdamjoo;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
 
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <authorization>
      <allow roles="Admin" />
    </authorization>
    <roleManager enabled="true" />
    <sessionState mode="InProc" cookieless="false" />
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms" />
    <customErrors mode="Off" defaultRedirect="~\Outscope\Error\">
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
      </controls>
    </pages>
    <machineKey validationKey="706447147A7E9109015F99112BD0B3F0A3C558F970021403F7E91339AA2E2532079C63F19EF4E65BA36F9936EA4BD8896EEC9F4924AF55B6D6FA255B63F4DF2F" decryptionKey="350511A683A42BF6CA905B3E3B34059F04D8C91C80737835" validation="SHA1" />
  </system.web>
  <system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>